# Default ignored files
/../../../:JavaAlgorithm/.idea/shelf/
/../../../:JavaAlgorithm/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:JavaAlgorithm/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:JavaAlgorithm/.idea/dataSources/
/../../../:JavaAlgorithm/.idea/dataSources.local.xml
